.merah {
  background-color: red;
}
.hijau {
  background-color: green;
}
.biru {
  background-color: blue;
}

/* Grid Container */
.container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
  gap: 10px;
}
